@using Factory.Models;
<h1>engineers</h1>
<ul>
  @foreach (Engineer e in ViewBag.EngineerList)
  {
      <li>@Html.ActionLink($"{e.EngineerName}", "Detail", new{id = e.EngineerId})</li>
  }
</ul>
@Html.ActionLink("Add and Engineer", "Create", "Engineer")
@Html.ActionLink("return home", "Index", "Home")