@using Factory.Models

<h1>machines</h1>
<ul>
  @foreach (Machine m in @Model)
  {
    <li>@Html.ActionLink($"{m.DeviceName}","Detail",new {id=m.MachineId}) : @Html.ActionLink("delete","Delete",new {id=m.MachineId})</li>
  }
</ul>
@Html.ActionLink("go back", "Index", "Home")
<br>
@Html.ActionLink("add a machine", "Create", "Machine")